.App {
  text-align: center;
  background-color: #0f111a;
}
body {
  background-color: #0f111a;
}
.Plot{
  background-color: #0f111a;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


